html,
body {
  min-height: 100%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #555b6e;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #555b6e;
  color: whitesmoke;
}

.page-body {
  display: flex;
  flex-grow: 1;
}
